*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family:'Times New Roman', Times, serif;
}

html,body{
    color:#8d8d8d;
    background-color:#faf4f2;
}
.clear{
    clear:both;
}
/* HEADER */
.header{
    background-color: #f8e1db;
    padding:10px 0 10px 70px;
}

.header ul{
    list-style:none;
    margin-top:12px;
}
.header li{
    display:inline;
    margin-right:40px;
}
.header a{
    text-decoration:none;
    color:#3b3735;
    font-size:18px;
}
.header .active a{
    color:#e76f51;
}
/* Carousel */
.carousel{
   background-image: url(./images/BG.png); 
   height:600px;
   background-position:center;
   background-size:cover;
}
/* ACTIVTIES */
.activities{
    margin:70px 0 50px;
    text-align:center;
}
.activities__title {
    color:#8d8d8d;
    font-size:24px;
}
.activities__item{
    width:25%;
    float:left;
    padding:15px;
}
.activities__card{
    padding:40px;
    border-radius:20px;
    background-color:white;
    
}
.activities__card img{
    width:100%;
    border-radius:20px;
}
.activities__img{
    position:relative;
}
.activities__heart{
    width:42px;
    height:42px;
    line-height:42px;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius:14px;
    color:#e76f51;
    position:absolute;
    right:20px;
    top:20px;
    font-weight:bold;
    cursor:pointer;
    z-index:10;
}
.activities_heart img{
    width:80%;
}
.activities__detail h3{
    color: #3b3735;
    font-size:18px;
    line-height:28px;
    margin-top:11px;
}
.activities__detail p{
    line-height:28px;
    margin: 11px 0 25px 0;
}
.activities__detail button{
    padding: 13px 54px;
    border-radius:25px;
    color:#8d8d8d;
    border:transparent;
    background-color:rgba(141,141,141,141,0.2);
    font-size:18px;
    letter-spacing:1px;
    cursor:pointer;
}
.activities__button button{
    color:#e76f51;
    border:1px solid #e76f51;
    border-radius:25px;
    padding:13px 71px;
    margin-top:30px;
    background-color:transparent;
}
.activities__detail button:hover,.activities__button button:hover{
    background-color:#e76f51;
    color:white;
}

/* contact */
.contact{
    background-color:#f8e1db;
    border-radius:0 25px 25px 0;
    margin-bottom:100px;
}
.contact__img, .contact__detail{
    width:50%;
    float:left;
    padding:20px 60px;
}
.contact__img{
    background-image: url(./images/mask.png);
    background-size:cover;
    background-position:center;
}
.contact__detail{
    padding-top:70px;
}
.contact__detail h2 {
    margin-bottom:12px;
}
.contact__detail p{
    margin:12px 0 30px;
}
.contact__detail h3{
    margin-bottom:21px;
}
.contact__us,.contact__app{
    width:50%;
    float:left;
}
.contact__us i{
    color:#e76f51;
    font-size:25px;
    margin-right:10px;
}

/* footer */
.footer{
    background-color: #f8e1db;
    border-radius:100px 100px 0 0;
    padding:60px 0 20px;
    color:black;
    line-height:25px;
}
.footer__left{
    width:40%;
    float:left;
    padding:0 50px;
}
.footer__right{
    width:60%;
    float:left;
}
.right__item{
    width:33.33%;
    float:left;
}
.footer h4{
    margin-bottom: 21px;
    font-size:18px;
}
.right__item ul{
    list-style:none;
}
.right__item li a{
    text-decoration:none;
    color:black;
}
.footer__bottom{
    margin:20px 0;
    text-align:center;
}
